* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: white;
    color: green;
    line-height: 1.6;
}

header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: underline;
}

header h1 {
    font-size: 2.5rem;
    text-align: center;
    text-decoration: black;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background: white;
}

.image-section {
    text-align: center;
    margin-bottom: 20px;
}

.image-section img {
    width: 250px;
    border-radius: 10px;
    image-rendering: pixelated;
    margin: top 15px; ;
}

.content h2 {
    color: green;
    margin-top: 20px;
    text-align: center;
    text-decoration-line: underline;
    text-decoration: black;
}

.content ul {
    margin-left: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: white;
    color: green;
    margin-top: 20px;
}
